@model Viola.Models.Project

@{
    ViewBag.Title = "Project Details";
}

<h2>@ViewBag.Title</h2>
<h4>@Model.Name</h4>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default btn-sm" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-sm" })
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUser.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerUser.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerUser.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUser.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>

        <dd>
            @Html.DisplayDatetimeUserTimeZoneFor(model => model.CreatedDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDatetime)
        </dt>

        <dd>
            @Html.DisplayDatetimeUserTimeZoneFor(model => model.ModifiedDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
